@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/blue";
@import "reset";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app,
.app_modal,
.app_drawer {
    min-height: 100vh;
    background: var(--bg-color);
    font: var(--font-m);
    color: var(--primary-color);
}

.app_modal {
    display: flex;
    justify-content: center;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 20px;
    border: 0.5px solid var(--bar-bg-color);
}
