.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 30%;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: var(--modal-closed-z-index);
}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 812px) {
        align-items: unset;
    }
}

.content {
    max-width: 100%;
    margin: auto;
    width: 630px;
    z-index: var(--modal-content-z-index);
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--modal-z-index);

    .content {
        transform: scale(0);
    }
}

.animated {
    .content {
        transform: scale(0.98);
        animation: modal-show 1s alternate ease-out;
    }
}

.isVisible {
    .overlay {
        background: var(--overlay-color);
    }
}

.isClosing {
    .content {
        animation: modal-hide 1s alternate ease-out;
    }
}

@keyframes modal-show {
    0% { scale: 0.2; }
    100% { scale: 1; }
}

@keyframes modal-hide {
    0% { scale: 1; }
    100% { scale: 0.1; }
}
