.item {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}

.itemRedesigned {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.collapsedRedesigned {
    padding: 0 8px;

    .link {
        opacity: 0;
        width: 0;
        margin: 0;
    }
}




.active {
    background:
            radial-gradient(
                            57.05% 57.05% at 49.84% 42.95%,
                            rgb(94 211 243 / 20%) 0%,
                            rgb(94 211 243 / 13.2%) 7.81%,
                            rgb(94 211 243 / 8.3%) 29.69%,
                            rgb(94 211 243 / 3.86%) 56.77%,
                            rgb(94 211 243 / 2.19%) 77.6%,
                            rgb(94 211 243 / 0%) 100%
            );
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 2px;
        left: 0;
        background: var(--accent-redesigned);
        height: 100%;
    }
}
