.ArticleList {
    &.TILE {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        .card {
            display: inline-flex;
            height: 300px;
            margin: 20px 10px;
        }
    }

    &.LIST {
        .card {
            height: 700px;
            margin: 20px 0;
        }
    }
}
