.ArticleListItem {
    &.LIST {
        .img {
            width: 100%;
            max-height: 250px;
            object-fit: contain;
            margin: 16px 0;
        }

        .textBlock {
            max-height: 200px;
            overflow-y: hidden;
            margin: 10px;
        }
    }

    &.TILE {
        width: 230px;
        transition: all 0.2s;
        cursor: pointer;

        .wrapperImage {
            width: 200px;
            height: 200px;
            position: relative;

            .date {
                display: none;
                position: absolute;
                right: 0;
                top: 0;
            }

            .img {
                width: 200px;
                height: 200px;
                object-fit: contain;
            }
        }

        &:hover {
            opacity: 0.8;
            transform: scale(1.01);

            .wrapperImage > .date {
                display: block;
            }
        }

        .types {
            margin-top: 8px;
        }

        .types p {
            margin-top: 8px;
            width: 115px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .views {
            margin-left: auto;
            margin-right: 8px;
        }

        .title {
            margin-top: 8px;
        }

        .title p {
            margin-top: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


.ArticleListItemRedesigned {
    &.LIST {
        .img {
            width: 100%;
            max-height: 420px;
            object-fit: cover;
        }

        .textBlock {
            height: 72px;
            overflow: hidden;
        }
    }
}

.ArticleListItemRedesigned {
    &.LIST {
        width: 100%;
    }
}
