.InputWrapper {
    display: flex;
    box-shadow:
        rgb(0 0 0 / 9%) 0 2px 1px,
        rgb(0 0 0 / 9%) 0 4px 2px,
        rgb(0 0 0 / 9%) 0 8px 4px,
        rgb(0 0 0 / 9%) 0 16px 8px,
        rgb(0 0 0 / 9%) 0 32px 16px;
    margin: 10px 0;
    padding: 5px 10px;
}

.placeholder {
    margin: 5px 10px 0 0;
}

.loginFormInput {
    color: var(--bar-bg-color) !important;
}

.input {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    text-shadow: 0 0 0 var(--modal-font-color);
    color: var(--primary-color);

    &:focus {
        outline: none;
    }
}

.readonly {
    opacity: 0.7;
}

.caretWrapper {
    position: relative;
    margin-top: 5px;
}

.caret {
    height: 3px;
    width: 9px;
    background: var(--modal-font-color);
    position: absolute;
    bottom: 0;
    left: 0;
    animation: blink 0.7s forwards infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }
}
