.wrapper {
    padding: 0 0 0 8px;
    box-shadow:
        rgb(0 0 0 / 9%) 0 2px 1px,
        rgb(0 0 0 / 9%) 0 4px 2px,
        rgb(0 0 0 / 9%) 0 8px 4px,
        rgb(0 0 0 / 9%) 0 16px 8px,
        rgb(0 0 0 / 9%) 0 32px 16px;
}

.ListBox {
    position: relative;
    width: 100%;

    .trigger {
        background: none;
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        width: 100%;
    }

    .options {
        position: absolute;
        width: 100%;
        z-index: var(--listbox-options-z-index);
        background: var(--listbox-bg);
        border-radius: 12px;
        text-shadow: 4px 4px 8px var(--listbox-bg);

        &.top {
            bottom: 100%;
        }

        &.bottom {
            top: 100%;
        }

        &.topRight {
            bottom: 100%;
            right: 50%;
        }

        &.bottomRight {
            top: 100%;
            left: 50%;
        }

        &.topLeft {
            bottom: 100%;
            left: 50%;
        }

        &.bottomLeft {
            top: 100%;
            right: 50%;
        }

        .item {
            padding: 20px;
            border-radius: 12px;

            &.active {
                background: var(--inverted-primary-color);
            }

            &.unavailable {
                opacity: 0.7;
                cursor: none;
            }
        }
    }
}
