.app_blue {
    --bg-color: #5880b4;
    --inverted-bg-color: #f4f7fb;
    --bar-bg-color: #0e3261;
    --inverted-bar-bg-color: #abd9ff;
    --primary-color: #f4f7fb;
    --secondary-color: #093e3e;
    --inverted-primary-color: #1c3b64;
    --inverted-secondary-color: #fff6bf;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // modal
    --modal-font-color: #fcbebe;
    --modal-bg-color-primary: #254573;
    --modal-bg-color-secondary: #2f363a;

    // skeleton
    --skeleton-color: #2b578f;
    --skeleton-shadow: #d9e8fd;

    // code
    --code-bg: #254573;

    // card
    --card-bg: #5074a5;

    // listbox
    --listbox-bg: #fcbebe;

    // button neat
    --btn-neat-top: #1c3b64;
    --btn-neat-bottom: #a0c2ff;

    // popover notification
    --bg-popover-notification: #1c2b4c;
}
