.app_blue {
    --bg-color: #5880b4;
    --inverted-bg-color: #f4f7fb;
    --bar-bg-color: #0e3261;
    --inverted-bar-bg-color: #abd9ff;
    --primary-color: #f4f7fb;
    --secondary-color: #093e3e;
    --inverted-primary-color: #1c3b64;
    --inverted-secondary-color: #fff6bf;
    --modal-font-color: #fcbebe;

    // skeleton
    --skeleton-color: #2b578f;
    --skeleton-shadow: #d9e8fd;
}
