.app.dark {
  --bg-color: #420516;
  --inverted-bg-color: #C3F8FF;

  --bar-bg-color: #7D1935;
  --inverted-bar-bg-color: #ABD9FF;

  --primary-color: #fcbebe;
  --secondary-color: #B42B51;

  --inverted-primary-color: #1c3b64;
  --inverted-secondary-color: #FFF6BF;
}