.app_dark {
    --bg-color: #420516;
    --inverted-bg-color: #c3f8ff;
    --bar-bg-color: #8c4959;
    --inverted-bar-bg-color: #abd9ff;
    --primary-color: #f8c0c0;
    --secondary-color: #b42b51;
    --inverted-primary-color: #1c3b64;
    --inverted-secondary-color: #fff6bf;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // modal
    --modal-font-color: #fcddbe;
    --modal-bg-color-primary: #542f3a;
    --modal-bg-color-secondary: #1a2b34;

    // skeleton
    --skeleton-color: #25020b;
    --skeleton-shadow: #f8c2df;

    // code
    --code-bg: #25020b;

    // card
    --card-bg: #482630;

    // listbox
    --listbox-bg: #fcddbe;

    // button neat
    --btn-neat-top: #25020b;
    --btn-neat-bottom: #722339;

    // popover notification
    --bg-popover-notification: #2f141b;
}
