.app.dark {
  --bg-color: #1c3b64;
  --inverted-bg-color: #b9d3f6;

  --primary-color: #0c6ab7;
  --secondary-color: #20abcf;

  --inverted-primary-color: #7cd5b6;
  --inverted-secondary-color: #48675f;
}