.app.light {
  --bg-color: #b9f6e8;
  --inverted-bg-color: #3b4b42;

  --primary-color: #7cd5b6;
  --secondary-color: #48675f;

  --inverted-primary-color:  #0c6ab7;
  --inverted-secondary-color:  #20abcf;
}