.app_light {
    --bg-color: #c3f8ff;
    --inverted-bg-color: #420516;
    --bar-bg-color: #abd9ff;
    --inverted-bar-bg-color: #7d1935;
    --primary-color: #1c3b64;
    --secondary-color: #fff6bf;
    --inverted-primary-color: #fcbebe;
    --inverted-secondary-color: #b42b51;
    --modal-font-color: #cdffff;
}
