.app.light {
  --bg-color: #C3F8FF;
  --inverted-bg-color: #420516;

  --bar-bg-color: #ABD9FF;
  --inverted-bar-bg-color: #7D1935;

  --primary-color: #1c3b64;
  --secondary-color: #FFF6BF;

  --inverted-primary-color:  #fcbebe;
  --inverted-secondary-color:  #B42B51;
}