.NavBar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bar-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .createArticle {
        margin-left: auto;
    }

    .appName {
        margin: 0 15px;
    }

    .dropdown,
    .links {
        display: flex;
        gap: 15px;

        .mainLink {
            margin-right: 15px;
        }

        img {
            margin: 0;
        }
    }

    .loginBtn {
        margin-left: auto;
    }
}
