.NavBar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bar-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;

    .createArticle {
        margin-left: auto;
    }

    .appName {
        margin: 0 15px;
    }

    .links {
        margin-left: 15px;
        display: flex;
        gap: 15px;

        .mainLink {
            margin-right: 15px;
        }
    }
}
