.Card {
    padding: 24px;
    border-radius: 12px;

    &.max {
        width: 100%;
    }
}

.gap_0 {
    padding: 0;
}

.gap_8 {
    padding: 8px;
}

.gap_16 {
    padding: 16px;
}

.gap_24 {
    padding: 24px;
}
.gap_36 {
    padding: 36px;
}
.gap_48 {
    padding: 48px;
}

.normal {
    background: var(--dark-bg-redesigned);
}

.outlined {
    border: 1px solid var(--accent-redesigned);
}

.light {
    background: var(--light-bg-redesigned);
}

.smooth {
    border-radius: 12px;
}

.round {
    border-radius: 40px;
}

.normal {
    border-radius: 20px;
}
