.SelectWrapper {
    justify-content: space-between;
    box-shadow:
        rgb(0 0 0 / 9%) 0 2px 1px,
        rgb(0 0 0 / 9%) 0 4px 2px,
        rgb(0 0 0 / 9%) 0 8px 4px,
        rgb(0 0 0 / 9%) 0 16px 8px,
        rgb(0 0 0 / 9%) 0 32px 16px;
    padding: 5px 10px;
    color: var(--primary-color);
}

.selectBox {
    cursor: pointer;
    position: relative;
    max-width: 170px;
    width: 100%;
}

.select,
.label {
    display: block;
}

.select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
}

.label {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
}

.label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    border-left: 2px solid var(--secondary-color);
}

.open .label::after {
    content: "▲";
}
