.StarRatingDeprecated {
    .StarIcon {
        &.hovered {
            fill: var(--primary-color);
        }
    }
}

.StarRatingRedesigned {
    .StarIcon {
        &.hovered {
            fill: var(--icon-redesigned);
        }
    }
}

.StarIcon {
    cursor: pointer;
    fill: none;

    &.hovered {
        fill: var(--primary-color);
    }

    &.selected {
        cursor: auto;
    }
}
