.EditableProfileCard {
    border: 1px solid var(--bar-bg-color);
    padding: 20px;
    box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;

    &.isEditing {
        box-shadow:
            rgb(204 219 232) 3px 3px 6px 0 inset,
            rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
    }
}
